.row.columns.text-center
  %h2.banner#gnome-banner= target_name
  %hr/
  .wrap
    .row.small-up-2.med-up-3.large-up-4
      - target.each do |gnome|
        - unless gnome.retired?
          .column.gnome
            %img.thumbnail{:src => "images/gnome.png"}/
            %h5.gnome-data
              = gnome.name
            %h5.gnome-data $#{gnome.price}
            %a.small.expanded.button.hollow#more-button{:href => gnome_path(gnome)} More

        - else
          .column.gnome.retired
            %img.thumbnail{:src => "images/gnome.png"}/
            %h5.gnome-data
              = gnome.name
            %h5.gnome-data $#{gnome.price}
            %a.small.expanded.button.hollow#more-button{:href => gnome_path(gnome)} More
