.order-information
  %h4
    = "Order ##{@order.id}"
    (#{current_user.username})
  %h5= "Ordered at: #{time_format(@order.created_at)}"
  - if @order.updated?
    %h5= "Order updated at: #{time_format(@order.created_at)}"
  %h5= "Order status: #{@order.status}"

= render partial: '/orders/shared/order_layout', locals: { target: @order }
