.row.column.text-center
  %h2#gnome-banner Your Bucket
  %hr/
  .gnome_bucket
    %table.hover
      %thead
        %tr
          %th.bucket-header Image
          %th.bucket-header Item
          %th.bucket-header Price
          %th.bucket-header Quantity
          %th.bucket-header Decrease Quantity
          %th.bucket-header Increase Quantity
          %th.bucket-header Remove
          %th.bucket-header Subtotal
      %tbody
        - @bucket.populated_contents.each do | gnome |
          %tr
            %td
              %div{:id => "gnome_#{gnome.id}"}
                %img.gnome-image{:alt => "...", :src => "images/gnome.png"}/
                = image_tag(gnome.image_url)
            %td
              = link_to gnome.name, gnome_path(gnome)
            %td
              %p $#{gnome.price}
            %td
              %p Quantity: #{gnome.quantity}
            %td
              = link_to "Decrease quantity", bucket_gnome_path(gnome.id, :adjustment => "decrease"), method: :put
            %td
              = link_to "Increase quantity", bucket_gnome_path(gnome.id, :adjustment => "increase"), method: :put
            %td
              = link_to "Remove from cart", bucket_gnome_path(gnome.id), method: :delete
            %td
              %p $#{gnome.subtotal}
        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td#total-price Total Price:
          %td $#{@bucket.total}

  - if current_user && !@bucket.empty?
    = button_to 'Checkout', orders_path, class: 'checkout-button button success hollow'
  -elsif current_user && @bucket.empty?
    %p Your bucket is empty!
    = link_to "Get some gnomes!", gnomes_path, class: 'button alert'
  - else
    %p
      = link_to 'Login', login_path
      or #{link_to 'Create Account', new_user_path} to checkout
