%h5 Your Bucket
.gnome_bucket
  - @bucket.populated_contents.each do | gnome |
    %div{:id => "gnome_#{gnome.id}"}
      %img.gnome-image{:alt => "...", :src => "https://pixabay.com/static/uploads/photo/2014/12/21/23/58/gnome-576496_960_720.png"}/
      = image_tag(gnome.image_url)
      = link_to gnome.name, gnome_path(gnome)
      %p= (gnome.price * 100).round / 100.0
      %p Quantity: #{gnome.quantity}
      = link_to "Decrease quantity", bucket_gnome_path(gnome.id, :function => "decrease"), method: :put
      = link_to "Increase quantity", bucket_gnome_path(gnome.id, :function => "increase"), method: :put
      %p Subtotal: $#{gnome.subtotal}
      = link_to "Remove from cart", bucket_gnome_path(gnome.id), method: :delete
%p Total price: $#{@bucket.total}

- if current_user && !@bucket.empty?
  = button_to 'Checkout', orders_path
-elsif current_user && @bucket.empty?
  %p Your bucket is empty!
  = link_to "Get some gnomes!", gnomes_path
- else
  %p
    = link_to 'Login', login_path
    or #{link_to 'Create Account', new_user_path} to checkout
