<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

    <body>

      <%= render partial: "layouts/navbar" %>

        <section class="main">
          <% flash.each do |type, message| %>
            <%= content_tag :div, sanitize(message), class: "flash_#{type}" %>
          <% end %>

            <%= yield %>

        </section>

      <%= render partial: "layouts/footer" %>
    </body>
</html>
