<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="top-bar">
    <div class="wrap">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Game Of Gnomes</li>
          <li>
            <a href="#">Homepage</a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            <a href="#">First</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <section class="main">
    <%= yield %>
  </section>

  <footer>
    <div class="wrap row small-up-1 medium-up-3">

      <div class="column">
        <h4>Contact Info</h4>
        <hr>
        <a href="#"><span>Address</span> 1530 Blake St </a>
        <a href="#"><span>Contact Number</span> 303-895-0492</a>
        <a href="#"><span>Email</span> info@game_of_gnomes.com</a>
      </div>


      <div class="column">
        <h4>Site Map</h4>
        <hr>
          <a href="#">About Us</a>
          <a href="#">Services</a>
          <a href="#">Contact Us</a>
      </div>

      <div class="column">
        <h4>Resources</h4>
        <hr>
          <a href="#">Police</a>
          <a href="#">Goblins</a>
          <a href="#">Jimmy Johns</a>
      </div>
    </div>
  </footer>
  </body>
</html>
